page-timer {

}


.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    width: 150px;
  }
  
  .progress {
    position: absolute;
    width: 80%;
    height: 80%;
    line-height: 9em;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
  }