page-timer {

}
.progress-wrapper {
    position: relative;
    margin: 22px auto;
    font-size: 21px;
    width: 150px;
  }
  
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 9em;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
    
  }

  .current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
    color: rgb(122, 25, 212);
    font-family: Comic Sans MS, sans-serif;   
    font-style: bold;
  } 