page-timer {

}
.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    width: 150px;
  }
  
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 9em;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
  }

  .current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
  } 