<ion-header>
  <ion-navbar hideBackButton>
    <ion-title ><span>your result below</span></ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <img src="assets/imgs/mathScore.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Thanks for your game your sammary below
      </ion-card-title>
      <h3>your result and basic info below</h3>
      <p>
        you get <b>{{actualGameScore}}</b> pkt from <b>{{totalPosibilityScore}}</b>
      </p>
      <p>
        its <b>{{percentage}}</b> of the total
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/mathScore.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Details
      </ion-card-title>
      <h3>your correct and incorrect math operation</h3>
      
      <p *ngFor="let gameResult of gameResults">
        <span>{{gameResult.GameNumber}}:</span>
        <span [ngClass]="!gameResult.isSuccessResult ? 'incorrectNumber' : 'correctNumber'">
            <span>{{gameResult.MathOperation}}</span><span> = {{gameResult.chosenNumber}}</span>
        </span>
        <span *ngIf="!gameResult.isSuccessResult">
            <span class="hintAnswerNumber"><i>correct result is <b>{{gameResult.correctNumber}}</b></i></span>
        </span>
        
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
