<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Game: {{gameCountToDisplay}} Score: {{gameScoreToDisplay}}
    </ion-title>
    <ion-buttons end>
        <button ion-button> close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card>
    <ion-card-content>
        <app-gameTimer [isStaticTimer]="false" [currentNumber]="0"></app-gameTimer>
        <hr class="underscore-timer-result"/>
       
        <span class="mathOperation-font">  <ion-icon name="calculator"></ion-icon> 
          <span><b>{{mathOperationAsString}} <ion-icon name="md-bulb"></ion-icon></b></span>
        </span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid> 
          <ion-row justify-content-center align-items-center style="height: 100%; margin-bottom:1.0em;">
            <ion-buttons *ngFor="let answerButtonFs of answerButtonsFirstSection; let i = index" [attr.data-index]="i">
              <div *ngIf="i == 0">
                <button 
                  style="margin-right:1.0em;" 
                  [ngClass]="{activeButton: isActiveAnswereButton(answerButtonFs.result)}" 
                  (click)="tappedAnswerButton(answerButtonFs)" 
                  ion-button round outline large>
                    <span class="resultVaueText-size text-fontStyle">
                      {{answerButtonFs.result}}
                    </span>
                  </button>
              </div>
              <div *ngIf="i == 1">
                <button
                  [ngClass]="{activeButton: isActiveAnswereButton(answerButtonFs.result)}" 
                  (click)="tappedAnswerButton(answerButtonFs)"  
                  ion-button round outline large>
                  <span class="resultVaueText-size text-fontStyle">
                      {{answerButtonFs.result}}
                  </span>
                </button>
              </div>
            </ion-buttons>
          </ion-row>
          <ion-row #downSection justify-content-center align-items-center style="height: 100%;">
            <ion-buttons *ngFor="let answerButtonSc of answerButtonsSecondSection; let i = index" [attr.data-index]="i">
              <div *ngIf="i == 0">
                <button 
                  [ngClass]="{activeButton: isActiveAnswereButton(answerButtonSc.result)}" 
                  (click)="tappedAnswerButton(answerButtonSc)"                   
                  style="margin-right:1.0em;"  
                  ion-button round outline large>
                  <span class="resultVaueText-size text-fontStyle">
                      {{answerButtonSc.result}}
                  </span>
                </button>
              </div>
              <div *ngIf="i == 1">
                <button
                [ngClass]="{activeButton: isActiveAnswereButton(answerButtonSc.result)}" 
                (click)="tappedAnswerButton(answerButtonSc)"   
                  ion-button round outline large>
                  <span class="resultVaueText-size text-fontStyle">
                      {{answerButtonSc.result}}
                  </span>
                  </button>
              </div>
            </ion-buttons>
          </ion-row>
      </ion-grid>
      <ion-fab right bottom >
          <button #confiramtionButton (click)="tapConfirmAndGoToNext()" class="confirmationButton" ion-fab ><ion-icon name="md-checkmark"></ion-icon></button>
      </ion-fab>
   </ion-card-content>
  </ion-card>



</ion-content>
