page-run-game {

    $colors: (
        primary:    #EC14BE,
        secondary:  #32db64,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        lightdark:  #363636
      );
    
    .mathOperation-font{
        text-align: center;
        font-size: 2.5em;
        font-family: Comic Sans MS, sans-serif; 
        font-style: italic;
        color:#e0e0e0;
        padding-left: 5px;
    }
    
    .mathOperationResult-Button{
        margin-bottom: 10px;
    }
    
    .mathOperationSign-font{
        color: #929446;
        font-size: larger;
    }
    
    .activeButton{
        background-color: #a6d2f7;
        transition: 0.5s linear;
    }
    
    .chosedNumber-chip{
        margin-left: inherit;
    }

    .confirmationButton{
        opacity: 0;
        transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72); 
        background-color: rgb(156, 153, 51);
    }

    .resize-card{
        transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72); 
    }

    .button-round-ios {
        border-radius: 70px;
        padding: 0 1.5rem;
    }

    .button-outline-ios {
        border-width: 2px;
        border-color: #488aff;
        color: #488aff;
    }

    .button-large-ios {
        height: 4.0em;
        width: 4.0em;
        font-size: 2.0rem;
        padding: 0 1em;
        font-family: Comic Sans MS, sans-serif !important; 
    }

    .content-ios {
        color: #000;
        background-color: rgb(140, 182, 132);
        background-image: url('../assets/imgs/math_background.jpg');
        background-repeat: no-repeat;
        background-size: 140% 100%;
    }

    .resultVaueText-size{
        font-size: 2.0em;
    }
    .text-fontStyle{
        font-family: Comic Sans MS, sans-serif !important;
    }
    .card-background-page {
    
        ion-card {
            position: relative;
            text-align: center;
            background: rgba(31, 29, 29, 0.96);
  
        }

    }

    .underscore-timer-result{
        background: #f4f4f4;
    }

    .answerButtonColor1{
        border-color: #37e8e5;
        color: #37e8e5;
    }

    .answerButtonColor2{
        border-color: #c75a6e;
        color: #c75a6e;
    }

    .answerButtonColor3{
        border-color: #dbdd4d;
        color: #dbdd4d;
    }

    .answerButtonColor4{
        border-color: #5970ee;
        color: #5970ee;
    }

}


