page-run-game {
    .mathOperation-font{
        text-align: center;
        font-size: 20px;
        font-family: "Times New Roman", Georgia, Serif;
        font-style: italic;
        color: grey;
        padding-left: 5px;
    }
    
    .mathOperationResult-Button{
        margin-bottom: 10px;
    }
    
    .mathOperationSign-font{
        color: #929446;
        font-size: larger;
    }
    
    .activeButton{
        background-color: #62b362;
        opacity: 1;
        transition: 0.3s linear;
        padding: 30px;
    }
    
    .chosedNumber-chip{
        margin-left: inherit;
    }
}


