<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Game: {{gameCountToDisplay}} Score: {{gameScoreToDisplay}}
    </ion-title>
    <ion-buttons end>
        <button ion-button> close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
        <app-gameTimer [isStaticTimer]="false" [currentNumber]="0"></app-gameTimer>
        <hr/>
        <ion-icon name="calculator"></ion-icon>
        <span class="mathOperation-font"> {{mathType}}:
          <span><b>{{mathOperationAsString}}</b></span>
        </span><ion-icon name="md-bulb"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-buttons *ngFor="let answer of answerButtons" end>
          <button 
            class="mathOperationResult-Button"  
            [ngClass]="{activeButton: isActiveAnswereButton(answer.result)}" 
            (click)="tappedAnswerButton(answer)" 
            ion-button full round>
            {{answer.result}}
          </button>
      </ion-buttons>

      <ion-grid> 
          <ion-row  justify-content-center align-items-center style="height: 100%; margin-bottom:1.5em;">
            <ion-buttons *ngFor="let answerButtonFs of answerButtonsFirstSection; let i = index" [attr.data-index]="i">
              <div *ngIf="i == 0"><button style="margin-right:1.5em;" ion-button round outline large>{{answerButtonFs.result}}</button></div>
              <div *ngIf="i == 1"><button ion-button round outline large>{{answerButtonFs.result}}</button></div>
            </ion-buttons>
          </ion-row>
          <ion-row justify-content-center align-items-center style="height: 100%">
            <ion-buttons *ngFor="let answerButtonSc of answerButtonsSecondSection; let i = index" [attr.data-index]="i">
              <button *ngIf="i == 0" style="margin-right:1.5em;"  ion-button round outline large>{{answerButtonSc.result}}</button>
              <button *ngIf="i == 1" ion-button round outline large>{{answerButtonSc.result}}</button>
            </ion-buttons>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <button #confiramtionButton ion-button full round (click)="tapConfirmAndGoToNext()" class="confirmationButton">
        <span *ngIf="!chosedNumber"><ion-icon name="md-arrow-forward" confiramtionButton> Please choose your answer</ion-icon></span>
        <span *ngIf="chosedNumber"><ion-icon name="md-arrow-forward" confiramtionButton> tap and confirm</ion-icon></span>
      </button>
    </ion-card-content>
  </ion-card>


</ion-content>
