<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Game: {{gameCountToDisplay}} Score: {{gameScoreToDisplay}}
    </ion-title>
    <ion-buttons end>
        <button ion-button> close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
        <app-gameTimer [isStaticTimer]="false" [currentNumber]="0"></app-gameTimer>
        <hr/>
        <ion-icon name="calculator"></ion-icon>
        <span class="mathOperation-font"> {{mathType}}:
          <span><b>{{mathOperationAsString}}</b></span>
        </span><ion-icon name="md-bulb"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-buttons *ngFor="let answer of answerButtons" end>
          <button 
            class="mathOperationResult-Button"  
            [ngClass]="{activeButton: isActiveAnswereButton(answer.value)}" 
            (click)="tappedAnswerButton(answer.value)" 
            ion-button full round>
            {{answer.value}}
          </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <button #confiramtionButton ion-button full round (click)="tapConfirmAndGoToNext()" class="confirmationButton">
        <span *ngIf="!chosedNumber"><ion-icon name="md-arrow-forward" confiramtionButton> Please choose your answer</ion-icon></span>
        <span *ngIf="chosedNumber"><ion-icon name="md-arrow-forward" confiramtionButton> tap and confirm</ion-icon></span>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
