page-run-game {
    .mathOperation-font{
        text-align: center;
        font-size: 20px;
        font-family: "Times New Roman", Georgia, Serif;
        font-style: italic;
        color: grey;
        padding-left: 5px;
    }
    
    .mathOperationResult-Button{
        margin-bottom: 10px;
    }
    
    .mathOperationSign-font{
        color: #929446;
        font-size: larger;
    }
    
    .activeButton{
        background-color: #62b362;
        padding: 30px;
        transition: 0.3s linear;
    }
    
    .chosedNumber-chip{
        margin-left: inherit;
    }

    .confirmationButton{
        opacity: 0.4;
        transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);

        background-color: #86584c
    }

}


