<ion-header>
  <ion-navbar>
    <ion-title>startGame</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Solve the math operation
    </ion-card-header>
    <ion-card-content>
        <app-gameTimer [isStaticTimer]="false" [currentNumber]="0"></app-gameTimer>
        <hr/>
        <span class="mathOperation-font">Math operation 
          <span><b>{{oprationRandomNumber1}}</b> <span class="mathOperationSign-font">+</span> <b>{{operationRandomNumber2}}</b></span>
        </span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Choose correct answer
    </ion-card-header>
    <ion-card-content>
      <ion-buttons end>
          <button class="mathOperationResult-Button" *ngIf="correctResultPosition == 1" (click)="tappedAnswerButton(correctResult)" [ngClass]="{chosedButton: isActiveButton(correctResult)}" ion-button full round>{{correctResult}}</button>
          <button class="mathOperationResult-Button" *ngIf="fakeResult1Position == 1" (click)="tappedAnswerButton(fakeResult1)" [ngClass]="{chosedButton: isActiveButton(fakeResult1)}" ion-button full round>{{fakeResult1}}</button>
          <button class="mathOperationResult-Button" *ngIf="fakeResult2Position == 1" (click)="tappedAnswerButton(fakeResult2)" [ngClass]="{chosedButton: isActiveButton(fakeResult2)}" ion-button full round>{{fakeResult2}}</button>
          
          <button class="mathOperationResult-Button" *ngIf="correctResultPosition == 2" (click)="tappedAnswerButton(correctResult)" [ngClass]="{chosedButton: isActiveButton(correctResult)}" ion-button full round>{{correctResult}}</button>
          <button class="mathOperationResult-Button" *ngIf="fakeResult1Position == 2" (click)="tappedAnswerButton(fakeResult1)" [ngClass]="{chosedButton: isActiveButton(fakeResult1)}" ion-button full round>{{fakeResult1}}</button>
          <button class="mathOperationResult-Button" *ngIf="fakeResult2Position == 2" (click)="tappedAnswerButton(fakeResult2)" [ngClass]="{chosedButton: isActiveButton(fakeResult2)}" ion-button full round>{{fakeResult2}}</button>
  
          <button class="mathOperationResult-Button" *ngIf="correctResultPosition == 3" (click)="tappedAnswerButton(correctResult)" [ngClass]="{chosedButton: isActiveButton(correctResult)}" ion-button full round>{{correctResult}}</button>
          <button class="mathOperationResult-Button" *ngIf="fakeResult1Position == 3" (click)="tappedAnswerButton(fakeResult1)" [ngClass]="{chosedButton: isActiveButton(fakeResult1)}" ion-button full round>{{fakeResult1}}</button>      
          <button class="mathOperationResult-Button" *ngIf="fakeResult2Position == 3" (click)="tappedAnswerButton(fakeResult2)" [ngClass]="{chosedButton: isActiveButton(fakeResult2)}" ion-button full round>{{fakeResult2}}</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <ion-card-header>
        Step 1, <span *ngIf="chosedNumber">{{chosedNumber}}</span>
    </ion-card-header>
  </ion-card>
</ion-content>
