page-start-game {

}

.mathOperation-font{
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
    color: grey;
}

.mathOperationResult-Button{
    margin-bottom: 10px;
}

.mathOperationSign-font{
    color: #929446;
    font-size: larger;
}

