<ion-header>
  <ion-navbar>
    <ion-title>startGame</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Solve the math operation
    </ion-card-header>
    <ion-card-content>
        <app-gameTimer [isStaticTimer]="false" [currentNumber]="0"></app-gameTimer>
        <hr/>
        <ion-icon name="calculator" color=""></ion-icon>
        <span class="mathOperation-font">Math operation
          <span><b>{{oprationRandomNumber1}}</b> <span class="mathOperationSign-font">+</span> <b>{{operationRandomNumber2}}</b></span>
        </span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Choose correct answer
    </ion-card-header>
    <ion-card-content>
      <ion-buttons *ngFor="let answer of answerButtons" end>
          <button 
            class="mathOperationResult-Button"  
            [ngClass]="{chosedButton: isActiveButton(answer.value)}" 
            (click)="tappedAnswerButton(answer.value)" 
            ion-button full round>
            {{answer.value}}
          </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="chosedNumber">
      <ion-chip class="chosedNumber-chip" #chosenNumberResult>
          <ion-icon name="calculator" color=""></ion-icon>
          <ion-label>Your choise <b>{{chosedNumber}}</b> tap button to next </ion-label>
          <button ion-button clear><ion-icon name="ios-arrow-dropright-circle"></ion-icon></button>   
      </ion-chip>
  </ion-card>  
</ion-content>
