page-game-type {

    .content-ios {
        color: #000;
        background-color: rgb(140, 182, 132);
        background-image: url('../assets/imgs/math_background.jpg');
        background-repeat: no-repeat;
        background-size: 140% 100%;
    }

    .content-md {
        color: #000;
        background-color: rgb(140, 182, 132);
        background-image: url('../assets/imgs/math_background.jpg');
        background-repeat: no-repeat;
        background-size: 140% 100%;
    }

    .card-background-page {
    
        ion-card {
            position: relative;
            text-align: center;
            background: rgba(31, 29, 29, 0.96);
        }
    }

    .gameType-font{
        text-align: center;
        font-size: 1.2em;
        font-family: Comic Sans MS, sans-serif; 
        color:#e0e0e0;
    }

    .gameType-font.gameType-header-font{
        font-size: 1.7em;
    }

    .button-large-ios {
        height: 3.5em;
        width: 3.5em;
        font-size: 2.5rem;
        color:#e0e0e0;
        
        //padding: 0 1em;
        font-family: Comic Sans MS, sans-serif !important; 
    }   

    .button-large-md {
        height: 4.0em;
        width: 4.0em;
        font-size: 2.0rem;
        color:#e0e0e0;
        padding: 0 1em;
        font-family: Comic Sans MS, sans-serif !important; 
    }

    .answerButtonColorAddition{
        border-color: #37e8e5;
        color: #37e8e5;
    }

    .answerButtonColorSubscraption{
        border-color: #c75a6e;
        color: #c75a6e;
    }

    .answerButtonColorDivide{
        border-color: #dbdd4d;
        color: #dbdd4d;
    }

    .answerButtonColorMultiplication{
        border-color: #5970ee;
        color: #5970ee;
    }
}
